<form class="review-form" (submit)="onSubmit()">
  <div *ngIf="review.errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li *ngFor="let error of review.errors">{{ error }}</li>
    </ul>
  </div>
  <p>
    <label for="name">Name:</label>
    <input id="name" name="name" [(ngModel)]="review.name" placeholder="name" #name="ngModel" required>
  </p>
  <p>
    <label for="review">Review:</label>
    <textarea id="review" name="review" [(ngModel)]="review.review"></textarea>
  </p>
  <p>
    <label for="rating">Rating:</label>
    <select id="rating" name="rating" [(ngModel)]="review.rating" (change)="selectOption(review.rating)">
      <option>5</option>
      <option>4</option>
      <option>3</option>
      <option>2</option>
      <option>1</option>
    </select>
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>
